* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #2600ff;
    color: #fff;
    text-align: center;
    padding: 15px 0;
}

.profile {
    background-color: #f9f9f9;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    max-width: 800px;
    border: 2px solid #ddd;
    border-radius: 10px;
}

.profile-details {
    text-align: center;
    padding: 20px;
}

.profile-img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 20px;
}

.profile h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.profile p {
    font-size: 1.2;
    margin-bottom: 10px;
}

footer {
    text-align: center;
    background-color: #000;
    color: #fff;
    padding: 10px;
    margin-top: 15px;
}